@font-face {
  font-family: 'ABeeZee';
  src: url('ABeeZee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jellee';
  src: url('Jellee-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

