{
  "activities": [
    {
      "id": "efcfb202-599d-4caf-9109-4753ec408c81",
      "title": "The Beatles",
      "organizer": "Abby Road Studios",
      "image": "/images/activities/thebeatles.png",
      "date": {
        "start": "2026-05-23T10:00:00",
        "end": "2026-05-23T11:00:00"
      },
      "place": "Escenario",
      "tags": [
        {
          "text": "Concierto",
          "color": "#ffc107"
        }
      ],
      "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim orci ut libero lacinia, iaculis consequat elit luctus. Ut porttitor aliquet sem, eget tempus nunc pretium fermentum. Ut eget libero purus. Nullam sit amet massa dolor. Aenean ultrices urna ultricies, iaculis nibh eget, feugiat velit. Sed a magna id tortor ornare elementum. Sed ornare, elit et tincidunt faucibus, sapien neque ultrices erat, in viverra nisl dolor condimentum neque. Morbi mattis eros sit amet purus pellentesque, non aliquet nulla tincidunt.",
      "link": "https://forms.gle/FHYyq5kfbJQMMSNP9"
    }
  ],
  "sponsors": [
    {
      "id": "8f14e45f-ea9b-4d4b-8a3a-1f2d3c4b5a60",
      "name": "Café Central",
      "type": "BRONZE",
      "image": "https://cafecentral.example.com/logo.jpeg",
      "link": "https://cafecentral.example.com"
    }
  ]
}