@import '../assets/fonts/fonts.css';

:root {
  --abeezee: 'ABeeZee', sans-serif;
  --jellee: 'Jellee', sans-serif;
}

body {
  font-family: var(--abeezee);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--jellee);
}
